/* ここから下に記載していく */

.title {
  background-color: rgb(245, 241, 241);
  text-align: center;
  font-size: larger;
  padding: 30px;
}
.table {
  text-align: center;
  width: 1300px;
  margin: auto;
  margin-top: 60px;
}

td,
th {
  border: 2px #a9aaac solid;
  padding: 10px;
}
